<html lang="en">

<body>
<div>
    <ul>
        <% items.forEach((product) => { %>
            <li>
                <% product.title %>
            </li>
        <%}); %>
    </ul>
</div>
</body>

</html>