<html>

<body>
<div>
    <ul>
        <% items.forEach(function(product) { %>
            <li>
                <%= product.title %>
            </li>
        <% }); %>
    </ul>
</div>
</body>

</html>